* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	max-width: 1440px;
	color: hsl(0, 0%, 100%);
	background: hsl(217, 28%, 15%);
}

h1, h5 {
	font-family: Raleway;
	font-weight: 700;
}

p, a {
	font-family: Open sans;
	font-weight: 400;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px;
	font-family: Raleway;
	font-weight: 400;
	background: hsl(217, 28%, 15%);
}

ul {
	list-style: none;
}

a {
	color: hsl(0, 0%, 100%);
	text-decoration: none;
}

.img-link {
	width: 12px;
	height: 12px;
	padding-left: 5px;
}

.navbar {
	display: flex;
	flex-direction: row;
}

.navbar li {
	display: inline;
	margin-right: 50px;
}

.navbar a:hover {
	text-decoration: underline;
}

.introducao img {
	height: 50%;
	width: 50%;
}

.introducao {
	
	text-align: center;
	background: url(./images/bg-curvy-desktop.svg) no-repeat center bottom hsl(217, 28%, 15%);
	margin: auto;
}

.introducao h1 {
	margin: 15px 0 30px 0;
	padding: 0 320px 0 320px;
	font-size: 2.5rem;
	line-height: 3rem;
}

.introducao p {
	margin: 15px 0 15px 0;
	padding: 0 400px 0 400px;
	font-size: 1.1rem;
	text-align: center;
	letter-spacing: 0.3px;
}

.introducao button {
	border: none;
	border-radius: 20px;
	background: linear-gradient(to right, hsl(176, 68%, 64%) , hsl(198, 60%, 50%));
	color: hsl(0, 0%, 100%);
	width: 230px;
	height: 45px;
	margin: 20px 0 0 0;
}

.introducao button:hover {
	background: hsl(176, 68%, 64%);
}

.descricao {
	display: flex;
    flex-direction: column;
    height: 500px;
    padding-top: 120px;
    padding-bottom: 120px;
    align-items: center;
    text-align: center;
    background: hsl(218, 28%, 13%);
    margin: auto;
}

.descricao h1 {
	letter-spacing: 1px;
	padding-top: 20px;
	text-align: center;
}

.descricao p {
	padding-top: 10px;
	padding-left: ;
	padding-right: 1.5px;
	letter-spacing: 0.5px;
	line-height: 22px;
	text-align: center;
}

.linha1 {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.linha2 {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.card-descricao {
	width: 390px;
	height: auto;
	padding: 40px 100px;
}

.produtivo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 100px;
	background: hsl(218, 28%, 13%);
}

.conteudo {
	display: flex;
	flex-direction: column;
	width: 500px;
}

.conteudo h1 {
	text-align: left;
	margin-bottom: 20px;
	padding-right: 150px;
	font-size: 2rem;
}

.conteudo p {
	padding-bottom: 20px;
}

.conteudo a {
	text-decoration: underline;
	color: hsl(176, 68%, 64%);
	font-family: Open sans;
}

.conteudo a:hover {
	color: hsl(0, 0%, 100%);
}

.depoimentos {
	display: flex;
	justify-content: space-between;
	padding-top: 150px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
	background: url(./images/bg-quotes.png) no-repeat 8% 36% hsl(218, 28%, 13%);
}

.card {
	display: flex;
	flex-direction: column;
	background: hsl(219, 30%, 18%);
	margin: 20px;
	box-shadow: 8px 8px hsl(217, 28%, 15%);
}

.texto-depoimento {
	display: flex;
	flex-direction: column;
	padding-top: 35px; 
	padding-left: 20px;
	padding-right: 20px;
	line-height: 20px;
}

.perfil {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px;
}

.imagem-perfil {
	display: flex;
	flex-direction: row;
}
.imagem-perfil img{
	width: 32px;
	height: 32px;
	object-fit: cover;
	position: center;
	border-radius: 100px;
}

.descricao-perfil {
	display: flex;
	flex-direction: column;
	font-size: 60%;
	letter-spacing: 0.5px;
	padding-left: 10px;
}

.acesso-antecipado {
	background: hsl(218, 28%, 13%);
}

.card-acesso {
	width: 800px;
	height: 200px;
	text-align: center;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 35px;
	background: hsl(217, 28%, 15%);
	position: relative;
	top: 120px;
	border-radius: 8px;
	box-shadow: 5px 5px hsl(0,0%,0%,0.25);

}

.card-acesso h1 {
	font-size: 1.5rem;
	padding: 30px;
	padding-bottom: 15px;
}

.card-acesso p {
	font-size: 90%;
	padding-bottom: 15px;
	padding-left: 100px;
	padding-right: 100px;
}

form {
	margin: 0 0px;
}

input {
	color: gray;
	background-color: #fff;
	border: none;
	margin-right: 20px;
	padding-left: 30px;
	width: 400px;
	height: 45px;
	border-radius: 20px ;
}

.card-acesso button {
	border: none;
	border-radius: 20px;
	background: linear-gradient(to right, hsl(176, 68%, 64%) , hsl(198, 60%, 50%));
	color: hsl(0, 0%, 100%);
	width: 170px;
	height: 45px;
	margin: 20px 0 0 0;
}

.card-acesso button:hover {
	background: hsl(176, 68%, 64%);
}

footer {
	display: flex;
	background: hsl(216, 53%, 9%);
	height: 450px;
	margin: auto;
	

}

.footer {
	display: flex;
	flex-direction: row;
	height: 450px;
	align-items: center;
	margin: auto;
}

.loc {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	/*padding-left: 70px;*/
	width: 350px;
}

.localizacao {
	display: flex;
	flex-direction: row;
}

.logo-footer {
	width: 50%;
	padding-bottom: 50px;
}

#icone-loc {
	display: flex;
	flex-direction: row;
	padding-right: 15px;
	padding-top: 5px;
	height: 16px;
}

.localizacao-descricao {
	display: flex;
	flex-direction: row;
	text-align: left;
}

.contato {
	display: flex;
	flex-direction: column;
	height: 300px;
	margin-left: 100px;
}

.box-contato {
	display: flex;
	flex-direction: row;
	margin-top: 170px;
}

.contato-icone {
	display: flex;
	flex-direction: column;
	padding-right: 15px;
	
}

.contato-icone img {
	padding-bottom: 8px;
	padding-top: 9px;
}

.contato-descricao {
	display: flex;
	flex-direction: column;
	line-height: 33px;
}

.menu-inferior {
	display: flex;
	flex-direction: column;
	width: 220px;
	height: auto;
	line-height: 30px;
	margin-left: 180px;
	margin-top: 170px;
}

.box-menu {
	display: flex;
	flex-direction: row;
	width: 200px;
}

.coluna-um {
	width: 100px;
}

.coluna-dois {
	width: 100px;
}

.menu-inferior a:hover {
	font-weight: 700;
}

.social {
	display: flex;
	flex-direction: row;
	margin-left: 80px;
	margin-top: 70px;
}

.social ul {
	display: flex;
	flex-direction: row;
}

.social li {
	padding-left: 20px;
}
